//-
	Index.pug

	This is the home page for this project. It is configured to auto-connect
	to the server's websocket and handle any events fired from the server end.
//-

extends base

//- The visual portion of the page
block content
	//- link(rel="stylesheet", href="https://openlayers.org/en/v4.0.1/css/ol.css", type="text/css")
	//- script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL", type="text/javascript")
	script(src="http://www.openlayers.org/api/OpenLayers.js")
	div(class='panel panel-default')
		div.panel-body
			h2 Zone Heat Map
			h3 The Baeconators - Evan Amstutz, DJ Meyers, Joe O'Connor, Jon-Kyle Smith
			p Below is a heatmap that represents 4 locations on a map.  These locations keep track of how many people are nearby using Beacons and a 'Capacity Sensor' on an ARM mbed board.  The points on the map represent the location of the Beacons.  You can click on the markers on the map to see the population at each one.  The populations are reset to 0 when the server restarts.
			p Because our beacons were ordered from Amazon, they were not registered with Estimote and we could not get their UUIDs and determine which beacon was being detected.  We tried running our phones as virtual beacons, but the issue persisted.  Since we could not retrieve locations from beacons, we created four dummy locations that represented the different zones.

			// Implement the graphics portion in the canvas supplied below
			div.well
				div(id='map', class="map")
	
	div.panel.panel-default
		div.panel-body
			h3 REST API requests
			p Below are buttons that were used during development to test the REST API before the Android app was developed.  They've been left in the final product for demonstration purposes.  Clicking on a button will cause its respective zone to increase its population by 1.  You can view the populations of all the zones in your browser console or the terminal running the server by clicking Get.  When the population in a zone exceeds its capacity, it will print to the terminal as well as cause the corresponding ARM mbed board to flash its light red.
			div.btn-toolbar(role="toolbar")
				div.btn-group(role="group")
					button.btn.btn-primary#zone-1(type='button') Zone 1
					button.btn.btn-primary#zone-2(type='button') Zone 2
					button.btn.btn-primary#zone-3(type='button') Zone 3
					button.btn.btn-primary#zone-4(type='button') Zone 4
				div.btn-group(role="group")
					button.btn.btn-success#get(type='button') Get

	div(class='panel')
		div.panel-body
			button(class='btn btn-primary', type='button', data-toggle='collapse', data-target='#debugLog', aria-expanded='false', aria-controls='debugLog') Show Debug Log
			div(id='debugLog', class='collapse')
				div(id='debugLogList', class='well')

//- The scripts needed by this page
block scripts
	script(type='text/javascript').
		$(() => {
			var socket = io();

			// Handle socket events here
			//--------------------------
			// Adds to the debug list
			socket.on('debug', data => {
				var time = new Date();
				$('#debugLogList').append('<div>' + time + ': ' + data.type + ' | ' + data.msg + '</div>');
			});
			//--------------------------
		});



	script(type='text/javascript').
		$(() => {
			// Handle any canvas code here
			//----------------------------

			//Functions for sending a request to REST API.  These will be tied to buttons on the page for ease of testing.
			function incrementPopulation(id) {
				//Make the POST request to increment a zone's population
				var xhttp = new XMLHttpRequest();
				xhttp.open("Get", "/incrementPopulation/" + id.toString(), false);
				xhttp.setRequestHeader("Content-type", "application/json");
				xhttp.send();
				var response = JSON.parse(xhttp.responseText);
				//console.log(response);
			}

			function getPopulation(id) {
				//Make the GET request to find out a zone's population
				var xhttp = new XMLHttpRequest();
				xhttp.open("Get", "/getPopulation/" + id.toString(), false);
				xhttp.setRequestHeader("Content-type", "application/json");
				xhttp.send();
				var response = JSON.parse(xhttp.responseText);
				return response;
			}

			//On Click events for the different buttons
			var id = 0;
			var zone1 = $('#zone-1').click(function(){
				id = 1;
				incrementPopulation(id);
			});

			var zone2 = $('#zone-2').click(function(){
				id = 2;
				incrementPopulation(id);
			});

			var zone3 = $('#zone-3').click(function(){
				id = 3;
				incrementPopulation(id);
			});

			var zone4 = $('#zone-4').click(function(){
				id = 4;
				incrementPopulation(id);
			});

			var get = $('#get').click(function(){
				console.log('Current Populations');
				//Iterate through zones and print their populations
				for(var i = 1; i <= 4; i++) {
					console.log(i.toString() + ": " + getPopulation(i).toString());
				}
			});

			//Coordinates for the Ridge
			var center = [29.632368, -82.379892]

			//variables for ease of testing beacons.
			var left = -82.3799, right = -82.3798, top = 29.6324, bot = 29.6323;

			//Beacon objects
			var zone1 = {
				name: 'Zone 1',
				id: 1,
				lat: top,
				lon: left
			};
			var zone2 = {
				name: 'Zone 2',
				id: 2,
				lat: top,
				lon: right
			};
			var zone3 = {
				name: 'Zone 3',
				id: 3,
				lat: bot,
				lon: right
			};
			var zone4 = {
				name: 'Zone 4',
				id: 4,
				lat: bot,
				lon: left
			};

			var zones = [zone1, zone2, zone3, zone4];

			//Code for markers
			map = new OpenLayers.Map("map");
		    map.addLayer(new OpenLayers.Layer.OSM());

		    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
		    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)

			//Coordinates for center of map
		    var lonLat = new OpenLayers.LonLat( -82.379892 ,29.632368 ).transform(epsg4326, projectTo);

		    //Center the map at the Ridge with zoom 18
		    var zoom=18;
		    map.setCenter(lonLat, zoom);

			//Create vector layer that will contain markers
		    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

			// Define markers as "features" of the vector layer:
			for(var i = 0; i < zones.length; i++) {
				var feature = new OpenLayers.Feature.Vector(
						new OpenLayers.Geometry.Point( zones[i].lon, zones[i].lat ).transform(epsg4326, projectTo),
						{description:'This is '+zones[i].name+'.<br>Population: ', id: zones[i].id} ,
						{externalGraphic: 'http://labs.google.com/ridefinder/images/mm_20_red.png', graphicHeight: 20, graphicWidth: 12, graphicXOffset:0, graphicYOffset: -20  }
					);
				vectorLayer.addFeatures(feature);
			}

			//Add the Vector layer to the map
		    map.addLayer(vectorLayer);


		    //Add a selector control to the vectorLayer with popup functions
		    var controls = {
		      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
		    };

		    function createPopup(feature) {
		      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
		          feature.geometry.getBounds().getCenterLonLat(),
		          null,
		          '<div class="markerContent">'+feature.attributes.description+getPopulation(feature.attributes.id).toString()+'</div>',
		          null,
		          true,
		          function() { controls['selector'].unselectAll(); }
		      );
		      feature.popup.closeOnMove = true;
		      map.addPopup(feature.popup);
		    }

		    function destroyPopup(feature) {
		      feature.popup.destroy();
		      feature.popup = null;
		    }

		    map.addControl(controls['selector']);
		    controls['selector'].activate();

			//----------------------------
		});
